<style>
    button {
        border: none;
        background: none;
    }

    h1,
    h2,
    h4,
    h4,
    h5,
    h6,
    p {
        margin: 0px;
        padding: 0px;
    }

    #hero {
        background-image: url('/assets/images/hero-bg.png');
        background-size: cover;
        background-position: center;
    }

    .navbar {
        display: flex;
        justify-content: start;
        padding: 30px;
        padding-bottom: 0px;
        align-items: center;
        gap: 90px;
        width: auto;

    }

    .navbar .logo {
        font-weight: bolder;
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        opacity: 1;
        color: #FFFFFF;
    }

    .navbar .right-side {
        display: none;
    }


    .hero {
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 68px 32px 32px;
    }

    .hero .hero-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .hero-content .hero-heading {
        font-size: 32px;
        font-weight: bolder;
        font-family: 'Gilroy', sans-serif;
        text-align: center;
        line-height: 40px;
        margin: 0px;
        padding: 0px;
        opacity: 1;
        color: #FFFFFF;
    }

    .hero-content .highlight-word {
        font-size: 34px;
        font-weight: bolder;
        font-family: 'Gilroy', sans-serif;
        margin-top: 15px;

    }

    @keyframes change-text {
        30% {
            content: "Lorem ipsum";
            background: #6184D8;
            color: #FFFFFF;
        }

        50% {
            content: "Lorem";
            background: #6184D8;
            color: #FFFFFF;
        }

        100% {
            content: "Lorem ipsum";
            background: #E86F3A;
            color: #FFFFFF;
        }
    }

    .highlight-word::before {
        content: "Lorem Ipsum Sit";
        font-weight: bolder;
        font-family: 'Gilroy', bolder sans-serif;
        padding: 5px 10px;
        color: #08083D;
        background: #ffffff;
        animation: change-text 6s ease-out;
    }

    .hero-content .hero-p {
        margin-top: 34px;
        font-family: 'Roboto', sans-serif;
        font-weight: regular;
        font-size: 18px;
        line-height: 25.2px;
        color: #FFFFFF;
        opacity: 1;
    }

    .hero-button {
        padding: 10px 29px;
        margin-top: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background: #23CE6B;
        box-shadow: 0px 8px 8px #23CE6B80;
        border-radius: 100px;
        position: relative;
  top: 0;
  transition: top 0.3s ease-out;
    }

    .hero-button:hover {
        top: -10px;
    }

    .hero-button .text {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 1;
        font-size: 18px;
        margin: 0px;
    }

    .hero-btn-icon img {
        width: 15px;
        height: 16px;
    }

    .hero-img-main {
        width: 100%;
        margin-top: 55px;
    }

    .hero-img {
        width: 100%;
        display: none;
    }

    .hero-img-sm {
        width: 100%;
    }

    @media (min-width: 800px) {
        #hero {
            background-image: url('/assets/images/hero-bg.png');
            background-size: cover;
            background-position: center;
        }

        .navbar {
            display: flex;
            justify-content: start;
            padding: 30px;
            padding-bottom: 0px;
            align-items: center;
            gap: 90px;
            width: auto;

        }

        .navbar .logo {
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            font-size: 20px;
            opacity: 1;
            color: #FFFFFF;
        }

        .navbar .right-side {
            display: none;
        }


        .hero {
            background-image: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 68px 32px 32px;
        }

        .hero .hero-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .hero-content .hero-heading {
            font-size: 32px;
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            text-align: center;
            line-height: 40px;
            margin: 0px;
            padding: 0px;
            opacity: 1;
            color: #FFFFFF;
        }

        .hero-content .highlight-word {
            font-size: 34px;
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            margin-top: 15px;
            opacity: 1;
        }

        @keyframes change-text {
            30% {
                content: "Lorem ipsum";
                background: #6184D8;
                color: #FFFFFF;
            }

            50% {
                content: "Lorem";
                background: #6184D8;
                color: #FFFFFF;
            }

            100% {
                content: "Lorem ipsum";
                background: #E86F3A;
                color: #FFFFFF;
            }
        }

        .highlight-word::before {
            content: "Lorem Ipsum Sit";
        font-weight: bolder;
        font-family: 'Gilroy', bolder sans-serif;
        padding: 5px 10px;
        color: #08083D;
        background: #ffffff;
        animation: change-text 6s ease-out;
        }

        .hero-content .hero-p {
            margin-top: 34px;
            font-family: 'Roboto', sans-serif;
            font-weight: regular;
            font-size: 18px;
            line-height: 25.2px;
            color: #FFFFFF;
            opacity: 1;
        }

        .hero-button {
            padding: 10px 29px;
            margin-top: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            background: #23CE6B;
            box-shadow: 0px 8px 8px #23CE6B80;
            border-radius: 100px;
            position: relative;
  top: 0;
  transition: top 0.3s ease-out;
        }

        .hero-button:hover {
            top: -10px;
        }

        .hero-button .text {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
            font-size: 18px;
            margin: 0px;
        }

        .hero-btn-icon img {
            width: 15px;
            height: 16px;
        }

        .hero-img-main {
            width: 70%;
            margin-top: 55px;
        }

        .hero-img {
            width: 100%;
            display: none;
        }

        .hero-img-sm {
            width: 100%;
        }

    }

    @media (min-width: 1536px) {
        #hero {
            background-image: none;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: auto;
            background: #08083D;
            padding: 31px 100px;

        }

        .navbar .logo {
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            font-size: 31px;
            opacity: 1;
            color: #FFFFFF;
        }

        .navbar .menu {
            display: none;
        }

        .navbar .right-side {
            display: flex;
            align-items: center;
            gap: 36.62px;
        }

        .navbar .right-side div {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .navbar .right-side div button {
            font-size: 16px;
            font-weight: lighter;
            font-family: 'Gilroy', sans-serif;
            opacity: 1;
            color: #FFFFFF;
        }

        .navbar .right-side .contact-btn {
            padding: 12px 42px;
            background: #23CE6B;
            border-radius: 5px;
            font-family: 'Gilroy', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
        }

        .navbar .right-side .contact-btn:hover {
            background: #29b162;
        }



        .hero {
            margin-top: 2px;
            background-image: url('/assets/images/hero-bg-lg.png');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 113px 100px;
            gap: 87px;
        }

        .hero .hero-content {
            width: 508px;
            flex-shrink: 0;
            display: flex;
            text-align: left;
            align-items: start;
            flex-direction: column;
            justify-content: start;
        }

        .hero-content .hero-heading {
            font-size: 50px;
            text-align: left;
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            line-height: 65px;
            margin: 0px;
            padding: 0px;
            opacity: 1;
            color: #FFFFFF;
        }

        .hero-content .highlight-word {
            font-size: 50px;
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            margin-top: 17px;
        }

        @keyframes change-text {
            30% {
                content: "Lorem ipsum";
                background: #6184D8;
                color: #FFFFFF;
            }

            50% {
                content: "Lorem";
                background: #6184D8;
                color: #FFFFFF;
            }

            100% {
                content: "Lorem ipsum";
                background: #E86F3A;
                color: #FFFFFF;
            }
        }

        .highlight-word::before {
            content: "Lorem Ipsum Sit";
        font-weight: bolder;
        font-family: 'Gilroy', bolder sans-serif;
        padding: 5px 10px;
        color: #08083D;
        background: #ffffff;
        animation: change-text 6s ease-out;
        }

        .hero-content .hero-p {
            margin-top: 37px;
            font-family: 'Roboto', sans-serif;
            font-weight: regular;
            font-size: 24px;
            line-height: 33.6px;
            color: #FFFFFF;
            opacity: 1;
        }

        .hero-button {
            padding: 24px 50px;
            margin-top: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background: #23CE6B;
            box-shadow: 0px 8px 8px #23CE6B80;
            border-radius: 100px;
            position: relative;
  top: 0;
  transition: top 0.3s ease-out;
        }

        .hero-btn-icon img {
            width: 26px;
        }

        .hero-button:hover {
            top: -10px;
        }

        .hero-button .text {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
            font-size: 24px;
            margin: 0px;
        }

        .hero-img-main {
            width: 100%;
            margin-top: 0px;
        }

        .hero-img {
            width: 100%;
            display: block;
        }

        .hero-img-sm {
            display: none;
        }

    }


    @media (min-width: 1825px) {
        #hero {
            background-image: none;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: auto;
            background: #08083D;
            padding: 31px 300px;

        }

        .navbar .logo {
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            font-size: 31px;
            opacity: 1;
            color: #FFFFFF;
        }

        .navbar .menu {
            display: none;
        }

        .navbar .right-side {
            display: flex;
            align-items: center;
            gap: 36.62px;
        }

        .navbar .right-side div {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .navbar .right-side div button {
            font-size: 16px;
            font-weight: lighter;
            font-family: 'Gilroy', sans-serif;
            opacity: 1;
            color: #FFFFFF;
        }

        .navbar .right-side .contact-btn {
            padding: 12px 42px;
            background: #23CE6B;
            border-radius: 5px;
            font-family: 'Gilroy', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
        }

        .navbar .right-side .contact-btn:hover {
            background: #29b162;
        }



        .hero {
            margin-top: 2px;
            background-image: url('/assets/images/hero-bg-lg.png');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 113px 300px;
            gap: 87px;
        }

        .hero .hero-content {
            width: 508px;
            flex-shrink: 0;
            display: flex;
            text-align: left;
            align-items: start;
            flex-direction: column;
            justify-content: start;
        }

        .hero-content .hero-heading {
            font-size: 50px;
            text-align: left;
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            line-height: 65px;
            margin: 0px;
            padding: 0px;
            opacity: 1;
            color: #FFFFFF;
        }

        .hero-content .highlight-word {
            font-size: 50px;
            font-weight: bolder;
            font-family: 'Gilroy', sans-serif;
            margin-top: 17px;

        }

        @keyframes change-text {
            30% {
                content: "Lorem ipsum";
                background: #6184D8;
                color: #FFFFFF;
            }

            50% {
                content: "Lorem";
                background: #6184D8;
                color: #FFFFFF;
            }

            100% {
                content: "Lorem ipsum";
                background: #E86F3A;
                color: #FFFFFF;
            }
        }

        .highlight-word::before {
            content: "Lorem Ipsum Sit";
        font-weight: bolder;
        font-family: 'Gilroy', bolder sans-serif;
        padding: 5px 10px;
        color: #08083D;
        background: #ffffff;
        animation: change-text 6s ease-out;
        }

        .hero-content .hero-p {
            margin-top: 37px;
            font-family: 'Roboto', sans-serif;
            font-weight: regular;
            font-size: 24px;
            line-height: 33.6px;
            color: #FFFFFF;
            opacity: 1;
        }

        .hero-button {
            padding: 24px 50px;
            margin-top: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background: #23CE6B;
            box-shadow: 0px 8px 8px #23CE6B80;
            border-radius: 100px;
            position: relative;
  top: 0;
  transition: top 0.3s ease-out;
        }

        .hero-btn-icon img {
            width: 26px;
        }

        .hero-button:hover {
            top: -10px;
        }

        .hero-button .text {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
            font-size: 24px;
            margin: 0px;
        }

        .hero-img-main {
            width: 100%;
            margin-top: 0px;
        }

        .hero-img {
            width: 100%;
            display: block;
        }

        .hero-img-sm {
            display: none;
        }

    }
</style>

<div>
    <!-- Navbar Start -->
    <section id="hero">
        <div class="navbar">
            <span class="menu">
                <img width="38" height="25" src="assets/icons/menu-hamburger-svgrepo-com.svg" alt="nav-icon">
            </span>
            <span class="logo">YOUR LOGO</span>
            <div class="right-side">
                <div>
                    <button>How it works</button>
                    <button>Franchise list</button>
                    <button>Franchising guide</button>
                </div>
                <button class="contact-btn">Contact</button>
            </div>
        </div>
        <div class="hero">
            <div class="hero-content">
                <h1 class="hero-heading">
                    Lorem ipsum dolor sit amet consectetur
                </h1>
                <span class="highlight-word"></span>
                <p class="hero-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                </p>
                <button class="hero-button">
                    <span class="text">See the best franchises</span>
                    <span class="hero-btn-icon"><img src="/assets/icons/hero-btn.svg" alt=""></span>
                </button>
            </div>
            <div class="hero-img-main">
                <img class="hero-img" src="assets/images/hero-pic.png" alt="">
                <img class="hero-img-sm" src="assets/images/hero-pic-sm.png" alt="">
            </div>
        </div>
    </section>
    <!-- Navbar End -->
</div>