<style>

#fourth-cta {
    padding: 41px 20px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.fourth-h {
    font-family: 'Gilroy', bolder, sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0px;
    color: #08083D;

}

.fourth-content-main {
    display: flex;
    flex-direction: column;
    gap:14px;
    align-items: center;
    justify-content: center;
}
.fourth-content {
    display: flex;
    flex-direction: column;
    color: #08083D;
    gap: 14px;

}
.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-img {
width: 220px;
height: 220px;
}
.content-h {
    margin-top: 28px;
    font-family: 'Roboto', sans-serif ;
    font-weight : bold;
    font-size: 20px;
    line-height: 49px;
}

.content-p {
    font-family: 'Roboto', sans-serif ;
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
}

@media (min-width: 1536px) { 
#fourth-cta {
    padding: 70px 226px 58px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.fourth-h {
    font-family: 'Gilroy', bolder, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0px;
    color: #08083D;

}

.fourth-content-main {
    display: flex;
    flex-direction: column;
    gap:60px;
    align-items: center;
    justify-content: center;
}
.fourth-content {
    display: flex;
    flex-direction: row;
    color: #08083D;
    gap: 44px;

}
.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-img {
width: 220px;
height: 220px;
}
.content-h {
    margin-top: 28px;
    font-family: 'Roboto', sans-serif ;
    font-weight : bold;
    font-size: 27px;
    line-height: 49px;
}

.content-p {
    font-family: 'Roboto', sans-serif ;
    margin-top: 20px;
    font-weight: normal;
    font-size: 21px;
}

}


</style>

<section id="fourth-cta">
    <h1 class="fourth-h">Lorem ipsum dolor sit amet</h1>
    <div class="fourth-content-main">
        <div class="fourth-content">
            <div class="content">
                    <img class="content-img" src="assets/svgs/content-1.svg" alt="">
                    <h6 class="content-h">
                        Lorem Ipsum Dolor
                    </h6>
                    <p class="content-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
            </div>
            <div class="content">
                <img class="content-img" src="assets/svgs/content-2.svg" alt="">
                <h6 class="content-h">
                    Lorem Ipsum Dolor
                </h6>
                <p class="content-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
        </div>
        <div class="content">
            <img class="content-img" src="assets/svgs/content-3.svg" alt="">
            <h6 class="content-h">
                Lorem Ipsum Dolor
            </h6>
            <p class="content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
    </div>
        </div>
        <div class="fourth-content">
            <div class="content">
                    <img class="content-img" src="assets/svgs/content-4.svg" alt="">
                    <h6 class="content-h">
                        Lorem Ipsum Dolor
                    </h6>
                    <p class="content-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
            </div>
            <div class="content">
                <img class="content-img" src="assets/svgs/content-5.svg" alt="">
                <h6 class="content-h">
                    Lorem Ipsum Dolor
                </h6>
                <p class="content-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
        </div>
        <div class="content">
            <img class="content-img" src="assets/svgs/content-6.svg" alt="">
            <h6 class="content-h">
                Lorem Ipsum Dolor
            </h6>
            <p class="content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
    </div>
        </div>
    </div>
</section>