<style>
    button {
  border: none;
  background: none;
}

h1,
h2,
h4,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

#fifth-cta {
    background: transparent linear-gradient(174deg, rgba(97, 132, 216, 1) 0%, rgba(8, 8, 61, 1) 100%) 0% 0% no-repeat padding-box;
            opacity: 0.9;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .fifth-h {
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            width: 190px;
            font-size: 32px;
            line-height: 40px;
            color: #ffff;
        }

        .fifth-content {
            margin-top: 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .fifth-content-main {

            display: flex;
            width: 100%;
            justify-content: start;
            flex-direction: column-reverse;
            align-items: start;
            gap: 15px;
        }

        .fifth-content-h {
            text-align: left;
            font-family: 'Gilroy', bold, sans-serif;
            font-weight: 800;
            color: #23CE6B;
            font-size: 20px;
            line-height: 49px;
            text-transform: uppercase;
        }

        .fifth-content-h-main {
            text-align: left;
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            color: #ffffff;
            font-size: 28px;
        }

        .fifth-content-p {
            font-family: 'Roboto', medium, sans-serif;
            font-size: 16px;
            line-height: 22.4px;
            width: 100%;
            ;
            margin-top: 20px;
            text-align: left;
            color: #ffffff;
        }

        .fifth-icon {
            width: 60px;
            height: 60px;
            background: transparent linear-gradient(328deg, rgba(77, 128, 251, 1) 0%, rgba(35, 206, 107, 1) 100%) 0% 0% no-repeat padding-box;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 100%;
        }

        .fifth-icon-inside {
            width: 27px;
        }

        .fifth-next-icon {
            margin: 30px 0px 0px;
        }

        .fifth-next-icon-img {
            width: 20px;
        }


        .fifth-content-footer {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
           margin-top: -15px;
           margin-left: -14px;
            width: 348px ;
            border: 1px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
            position: relative;
            z-index: 9999;
            padding: 30px 0px;
            text-align: center;
        }

        .fifth-content-footer-border {
            margin-top: 50px;
           border : 1px solid rgba(97, 132, 216, 1);
            border-radius: 20px;
            padding: 7px;
        }

        .fifth-content-footer-h {
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            width: 190PX;
            font-size: 32px;
            font-weight: 40px;
            color: #ffffff;

        }

        .fifth-content-footer-p {
            font-family: 'Roboto', medium, sans-serif;
            margin-top: 20px;
            text-align: left;
            width: 296px;
            font-weight:normal;
            font-size: 16px;
            line-height: 29.4px;
            color: #ffffff;
        }

        @media (min-width: 800px) {

#fifth-cta {
    background: transparent linear-gradient(139deg, rgba(97, 132, 216, 1) 0%, rgba(8, 8, 61, 1) 100%) 0% 0% no-repeat padding-box;
    opacity: 0.9;
    padding: 70px 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fifth-h {
    font-family: 'Gilroy', bolder, sans-serif;
    width: auto;
    font-weight: 800;
    font-size: 50px;
    line-height: 49px;
    color: #ffff;
}

.fifth-content {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.fifth-content-main {
    width: auto;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.fifth-content-h {
    text-align: left;
    font-family: 'Gilroy', bold, sans-serif;
    font-weight: 800;
    color: #23CE6B;
    font-size: 27px;
    line-height: 49px;
    text-transform: uppercase;
}

.fifth-content-h-main {
    text-align: left;
    font-family: 'Gilroy', bolder, sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 45px;
}

.fifth-content-p {
    font-family: 'Roboto', medium, sans-serif;
    font-size: 21px;
    line-height: 29.4px;
    width: 550px;
    ;
    margin-top: 27px;
    text-align: left;
    color: #ffffff;
}

.fifth-icon {
    width: 115px;
    height: 115px;
    background: transparent linear-gradient(328deg, rgba(77, 128, 251, 1) 0%, rgba(35, 206, 107, 1) 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}
.fifth-icon-inside {
    width: auto;
}

.fifth-next-icon {
    margin: 56px 0px 30px;
}

.fifth-next-icon-img {
    width: auto;
}


.fifth-content-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: -15px;
   margin-left: -14px;
    width: 683px ;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    position: relative;
    z-index: 9999;
    padding: 35px 0px;
    text-align: center;
}

.fifth-content-footer-border {
    margin-top: 50px;
   border : 1px solid rgba(97, 132, 216, 1);
    border-radius: 20px;
    padding: 7px;
}

.fifth-content-footer-h {
    font-family: 'Gilroy', bolder, sans-serif;
    font-weight: 800;
    width: auto;
    font-size: 50px;
    font-weight: 49px;
    color: #ffffff;

}

.fifth-content-footer-p {
    font-family: 'Roboto', bold, sans-serif;
    margin-top: 20px;
    text-align: center;
    width: 594px;
    font-weight: bold;
    font-size: 21px;
    line-height: 29.4px;
    color: #ffffff;
}


}


    @media (min-width: 1536px) {

        #fifth-cta {
            background: transparent linear-gradient(139deg, rgba(97, 132, 216, 1) 0%, rgba(8, 8, 61, 1) 100%) 0% 0% no-repeat padding-box;
            opacity: 0.9;
            padding: 70px 300px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .fifth-h {
            font-family: 'Gilroy', bolder, sans-serif;
            width: auto;
            font-weight: 800;
            font-size: 50px;
            line-height: 49px;
            color: #ffff;
        }

        .fifth-content {
            margin-top: 51px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }

        .fifth-content-main {
            width: auto;
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: start;
            gap: 129px;
        }

        .fifth-content-h {
            text-align: left;
            font-family: 'Gilroy', bold, sans-serif;
            font-weight: 800;
            color: #23CE6B;
            font-size: 27px;
            line-height: 49px;
            text-transform: uppercase;
        }

        .fifth-content-h-main {
            text-align: left;
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            color: #ffffff;
            font-size: 45px;
        }

        .fifth-content-p {
            font-family: 'Roboto', medium, sans-serif;
            font-size: 21px;
            line-height: 29.4px;
            width: 750px;
            ;
            margin-top: 27px;
            text-align: left;
            color: #ffffff;
        }

        .fifth-icon {
            width: 115px;
            height: 115px;
            background: transparent linear-gradient(328deg, rgba(77, 128, 251, 1) 0%, rgba(35, 206, 107, 1) 100%) 0% 0% no-repeat padding-box;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 100%;
        }
        .fifth-icon-inside {
            width: auto;
        }

        .fifth-next-icon {
            margin: 56px 0px 30px;
        }

        .fifth-next-icon-img {
            width: auto;
        }


        .fifth-content-footer {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
           margin-top: -15px;
           margin-left: -14px;
            width: 783px ;
            border: 1px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
            position: relative;
            z-index: 9999;
            padding: 35px 0px;
            text-align: center;
        }

        .fifth-content-footer-border {
            margin-top: 50px;
           border : 1px solid rgba(97, 132, 216, 1);
            border-radius: 20px;
            padding: 7px;
        }

        .fifth-content-footer-h {
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            width: auto;
            font-size: 50px;
            font-weight: 49px;
            color: #ffffff;

        }

        .fifth-content-footer-p {
            font-family: 'Roboto', bold, sans-serif;
            margin-top: 20px;
            text-align: center;
            width: 594px;
            font-weight: bold;
            font-size: 21px;
            line-height: 29.4px;
            color: #ffffff;
        }


    }
</style>


<section id="fifth-cta">
    <h1 class="fifth-h">
        Lorem Ipsum Dolor Sit
    </h1>
    <div class="fifth-content">
        <div class="fifth-content-main">
            <div class="fifth-content-inside">
                <h2 class="fifth-content-h">
                    STEP 1
                </h2>
                <h2 class="fifth-content-h-main">
                    Lorem Ipsum
                </h2>
                <p class="fifth-content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="fifth-icon">
                <img class="fifth-icon-inside" src="assets/svgs/fifth-content-6.svg" alt="">
            </div>
        </div>
        <div class="fifth-next-icon">
             <img class="fifth-next-icon-img" src="assets/svgs/next.svg" alt="">
        </div>
        <div class="fifth-content-main">
            <div class="fifth-content-inside">
                <h2 class="fifth-content-h">
                    STEP 2
                </h2>
                <h2 class="fifth-content-h-main">
                    Lorem Ipsum
                </h2>
                <p class="fifth-content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="fifth-icon">
                <img class="fifth-icon-inside" src="assets/svgs/fifth-content-5.svg" alt="">
            </div>
        </div>
        <div class="fifth-next-icon">
            <img class="fifth-next-icon-img" src="assets/svgs/next.svg" alt="">
        </div>
        <div class="fifth-content-main">
            <div class="fifth-content-inside">
                <h2 class="fifth-content-h">
                    STEP 3
                </h2>
                <h2 class="fifth-content-h-main">
                    Lorem Ipsum
                </h2>
                <p class="fifth-content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="fifth-icon">
                <img class="fifth-icon-inside" src="assets/svgs/fifth-content-4.svg" alt="">
            </div>
        </div>
        <div class="fifth-next-icon">
             <img class="fifth-next-icon-img" src="assets/svgs/next.svg" alt="">
        </div>
        <div class="fifth-content-main">
            <div class="fifth-content-inside">
                <h2 class="fifth-content-h">
                    STEP 4
                </h2>
                <h2 class="fifth-content-h-main">
                    Lorem Ipsum
                </h2>
                <p class="fifth-content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="fifth-icon">
                <img class="fifth-icon-inside" src="assets/svgs/fifth-content-3.svg" alt="">
            </div>
        </div>
        <div class="fifth-next-icon">
             <img class="fifth-next-icon-img" src="assets/svgs/next.svg" alt="">
        </div>
        <div class="fifth-content-main">
            <div class="fifth-content-inside">
                <h2 class="fifth-content-h">
                    STEP 5
                </h2>
                <h2 class="fifth-content-h-main">
                    Lorem Ipsum
                </h2>
                <p class="fifth-content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="fifth-icon">
                <img class="fifth-icon-inside" src="assets/svgs/fifth-content-2.svg" alt="">
            </div>
        </div>
        <div class="fifth-next-icon">
             <img class="fifth-next-icon-img" src="assets/svgs/next.svg" alt="">
        </div>
        <div class="fifth-content-main">
            <div class="fifth-content-inside">
                <h2 class="fifth-content-h">
                    STEP 6
                </h2>
                <h2 class="fifth-content-h-main">
                    Lorem Ipsum
                </h2>
                <p class="fifth-content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt.</p>
            </div>
            <div class="fifth-icon">
                <img class="fifth-icon-inside" src="assets/svgs/fifth-content-1.svg" alt="">
            </div>
        </div>
    </div>
    <div class="fifth-content-footer-border">
    <div class="fifth-content-footer">
        <h1 class="fifth-content-footer-h">Lorem Ipsum Dolor Sit...</h1>
        <p class="fifth-content-footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Integer enim neque.</p>
    </div>
</div>
</section>