<style>
    #nineth-cta {
        background: #FFFFFF;
        padding: 28px 39px 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .nineth-cta-img {
        display: none;
    }

    .nineth-cta-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #08083D;
    }

    .nineth-cta-p {
        font-family: 'Roboto', medium, sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    .nineth-cta-h {
        font-family: 'Gilroy', bolder, sans-serif;
        font-weight: 800;
        margin-top: 11px;
        font-size: 32px;
        line-height: 40px;
    }





    .nineth-cta-button {
        padding: 10px 29px;
        margin-top: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background: #23CE6B;
        box-shadow: 0px 8px 8px #23CE6B80;
        border-radius: 100px;
    }

    .nineth-cta-button:hover {
        box-shadow: 0px 12px 12px #23CE6B80;
    }

    .nineth-cta-button .text {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 1;
        font-size: 18px;
        margin: 0px;
    }

    .nineth-cta-btn-icon img {
        width: 15px;
        height: 16px;
    }

    @media (min-width: 1536px) {
        #nineth-cta {
            background: #FFFFFF;
            padding: 82px 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            gap: 60px;
        }

        .nineth-cta-img {
            display: block;
        }

        .nineth-cta-content {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            text-align: left;
            color: #08083D;
        }

        .nineth-cta-p {
            font-family: 'Roboto', medium, sans-serif;
            font-size: 24px;
            line-height: 49px;
            font-weight: 400;
        }

        .nineth-cta-h {
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            font-size: 50px;
            line-height: 65px;
        }

        .nineth-cta-button {
            padding: 24px 50px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background: #23CE6B;
            box-shadow: 0px 8px 8px #23CE6B80;
            border-radius: 100px;
        }

        .nineth-cta-btn-icon img {
            width: 26px;
        }

        .nineth-cta-button:hover {
            box-shadow: 0px 12px 12px #23CE6B80;
        }

        .nineth-cta-button .text {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
            font-size: 24px;
            margin: 0px;
        }
    }

    @media (min-width: 1920px) {
        #nineth-cta {
            background: #FFFFFF;
            padding: 82px 300px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            gap: 60px;
        }

        .nineth-cta-img {
            display: block;
        }

        .nineth-cta-content {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            text-align: left;
            color: #08083D;
        }

        .nineth-cta-p {
            font-family: 'Roboto', medium, sans-serif;
            font-size: 24px;
            line-height: 49px;
            font-weight: 400;
        }

        .nineth-cta-h {
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            font-size: 50px;
            line-height: 65px;
        }

        .nineth-cta-button {
            padding: 24px 50px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background: #23CE6B;
            box-shadow: 0px 8px 8px #23CE6B80;
            border-radius: 100px;
        }

        .nineth-cta-btn-icon img {
            width: 26px;
        }

        .nineth-cta-button:hover {
            box-shadow: 0px 12px 12px #23CE6B80;
        }

        .nineth-cta-button .text {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
            font-size: 24px;
            margin: 0px;
        }
    }
</style>

<section id="nineth-cta">
    <div class="nineth-cta-img">
        <img class="nineth-cta-img-inside" src="assets/images/ninth-cta.png" alt="">
    </div>
    <div class="nineth-cta-content">
        <p class="nineth-cta-p">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
        <p class="nineth-cta-h">
            Lorem Ipsum <br> Dolor Sit Amet Consectetuer!
        </p>
        <button class="nineth-cta-button">
            <span class="text">Schedule a call today!</span>
        </button>
    </div>
</section>