<style>
     button {
        border: none;
        background: none;
    }

    h1,
    h2,
    h4,
    h4,
    h5,
    h6,
    p {
        margin: 0px;
        padding: 0px;
    }


    #first-cta {
        background-image: url('/assets/images/first-cta-sm.png');
        background-size: cover;
        font-family: 'Roboto',medium, sans-serif;
        padding: 52px 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        letter-spacing: 0px;
    }

    .first-cta{
       
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .first-heading {
        font-weight: bolder;
        font-family: 'Gilroy', sans-serif;
        line-height : 40px;
        font-size: 32px;
        text-align: center;
        width: 100%;
    }
    .first-list {
        display: flex;
        gap : 30px;
        flex-direction: column;
    }

    .lists {
        display: flex;
        color: #ffffff;
opacity: 1;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        gap: 17px;
    }
    .list-icon {
        width: 20px;
        height: 16px;
    }

    .list-content {
        font-size: 18px;
        line-height: 25px;
    }

    @media (min-width: 1536px) { 
    #first-cta {
        background-image: url('/assets/images/first-cta.png');
        background-size: cover;
        background-position: center;
        font-family: 'Roboto',bold, sans-serif;
        font-weight: bold;
        padding: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #08083D;
        letter-spacing: 0px;
    }

    .first-cta{
       
        display: flex;
        flex-direction: column;
        gap: 58px;
    }

    .first-heading {
        font-weight: bolder;
        font-family: 'Gilroy', sans-serif;
        font-size: 50px;
        text-align: center;
        width: 100%;
    }
    .first-list {
        display: flex;
        gap : 30px;
        flex-direction: column;
    }

    .lists {
        display: flex;
        color: #08083D;
opacity: 1;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        gap: 30px;
    }

    .list-icon {
        width: 25px;
        height: 20px;
    }

    .list-content {
        font-size: 24px;
    }
    }

</style>


<section id="first-cta">
    <div class="first-cta">
        <h1 class="first-heading">Lorem Ipsum Dolor</h1>
        <div class="first-list">
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content">Aliquam tincidunt mauris eu risus</p>
            </div>
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content">Morbi in sem quis dui placerat ornare, Pellentesque</p>
            </div>
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content">Nunc dignissim risus id metus</p>
            </div>
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content">Integer vitae libero ac risus egestas placerat</p>
            </div>
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content">Vivamus vestibulum ntulla nec ante</p>
            </div>
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content">Praesent placerat risus quis eros</p>
            </div>
            <div class="lists">
                <span ><img class="list-icon" src="assets/icons/check.svg"></span>
                <p class="list-content"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
           
        </div>
    </div>
</section>
