<style>
    button {
        border: none;
        background: none;
    }

    h1,
    h2,
    h4,
    h4,
    h5,
    h6,
    p {
        margin: 0px;
        padding: 0px;
    }



    #third-cta {
        background: #6184D8;
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .third-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .third-h {
        width: 200px;
        font-family: 'Gilroy', sans-serif;
        font-weight: bolder;
        text-align: center;
        color: #FFFFFF;
        font-size: 32px;
        line-height: 40px;

    }

    .green-h {
        color: #23CE6B;
    }

    .third-p {
        font-family: 'Roboto', normal, sans-serif;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 22.4px;
        margin-bottom: 33px;

    }

    .third-link {
        font-family: 'Roboto', normal, sans-serif;
        color: #FFFFFF;
        font-size: 16px;
        text-decoration: none;
    }

    .third-link:hover {
        font-family: 'Roboto', normal, sans-serif;
        color: #FFFFFF;
        text-decoration: underline;
    }

    .third-images {
        display: none;
        justify-content: end;
        align-items: center;
        margin-right: -100px;
    }

    .third-first-img {
        margin-right: -200px;
    }

    .third-first {
        width: 100%;
    }

    .third-sec {
        width: 100%;
    }



    @media (min-width: 1407px) {
        #third-cta {
            background: #6184D8;
            padding: 56px 0px 56px 100px;
            display: flex;
            flex-direction: row;
            gap: 50px;
            align-items: center;
            justify-content: center;
        }

        .third-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 58px;
            align-items: start;
            justify-content: start;
            text-align: left;
        }

        .third-h {
            width: 300px;
            font-family: 'Gilroy', sans-serif;
            font-weight: bolder;
            text-align: left;
            color: #FFFFFF;
            font-size: 50px;
            line-height: 70px;

        }

        .green-h {
            color: #23CE6B;
        }

        .third-p {
            font-family: 'Roboto', normal, sans-serif;
            color: #FFFFFF;
            font-size: 21px;
            line-height: 33.6px;
            margin-bottom: 33px;

        }

        .third-link {
            font-family: 'Roboto', normal, sans-serif;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 18px;
        }

        .third-link:hover {
            font-family: 'Roboto', normal, sans-serif;
            color: #FFFFFF;
            text-decoration: underline;
        }

        .third-images {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: auto;
        }

        .third-first-img {
            margin-right: -200px;
        }

        .third-first {
            width: 100%;
        }

        .third-sec {
            width: 100%;
        }
    }


    @media (min-width: 1536px) {
        #third-cta {
            background: #6184D8;
            padding: 56px 0px 56px 300px;
            display: flex;
            flex-direction: row;
            gap: 50px;
            align-items: center;
            justify-content: center;
        }

        .third-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 58px;
            align-items: start;
            justify-content: start;
            text-align: left;
        }

        .third-h {
            width: 300px;
            font-family: 'Gilroy', sans-serif;
            font-weight: bolder;
            text-align: left;
            color: #FFFFFF;
            font-size: 50px;
            line-height: 70px;

        }

        .green-h {
            color: #23CE6B;
        }

        .third-p {
            font-family: 'Roboto', normal, sans-serif;
            color: #FFFFFF;
            font-size: 21px;
            line-height: 33.6px;
            margin-bottom: 33px;

        }

        .third-link {
            font-family: 'Roboto', normal, sans-serif;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 18px;
        }

        .third-link:hover {
            font-family: 'Roboto', normal, sans-serif;
            color: #FFFFFF;
            text-decoration: underline;
        }

        .third-images {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: auto;
        }

        .third-first-img {
            margin-right: -200px;
        }

        .third-first {
            width: 100%;
        }

        .third-sec {
            width: 100%;
        }

    }
</style>

<section id="third-cta">
    <div class="third-content">
        <h1 class="third-h">
            <span class="green-h">Lorem</span> <br> Ipsum Dolor
        </h1>
        <div>
            <p class="third-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper. Ullamcorper eget nulla
                facilisi etiam dignissim diam quis enim. Enim eu turpis egestas pretium aenean pharetra magna ac. Enim
                nunc faucibus a pellentesque sit amet porttitor eget dolor. <br /> <br /> Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien
                eget mi proin sed libero enim. Etiam sit amet nisl purus in mollis nunc sed id. Placerat in egestas erat
                imperdiet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Felis eget velit aliquet
                sagittis id consectetur.
            </p>
            <a class="third-link" href="#">Read more...</a>
        </div>
    </div>
    <div class="third-images">
        <div class="third-first-img">
            <img class="third-first " src="assets/images/third-first-img.png" alt="">
        </div>
        <div class="third-sec-img">
            <img class="third-sec" src="assets/images/third-sec-img.png" alt="">
        </div>
    </div>
</section>