<style>
    #sucess-stories {
        background: #08083D 0% 0% no-repeat padding-box;
        opacity: 0.6;
        flex-direction: column;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
    }

    .sucess-stories-h {
        font-family: 'Gilroy', bolder, sans-serif;
        font-weight: 800;
        color: #ffffff;
        font-size: 32px;
        line-height: 49px;
    }

    .sucess-stories-p {
        font-family: 'Roboto', medium, sans-serif;
        font-size: 18px;
        line-height: 49px;
        color: #ffffff;
    }


    #seventh-cta {
        display: flex;
        align-items: stretch;
        flex-direction: column;

    }

    .seventh-main {
        width: auto;
        display: flex;
        box-shadow: 0px 6px 8px #00000026;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 20px 34px 30px;
    }

    .seventh-main:nth-child(1) {
        background: #23CE6B;
    }

    .seventh-main:nth-child(2) {
        background: #08083D;
    }

    .seventh-main:nth-child(3) {
        background: #6184D8;
    }

    .seventh-main:nth-child(4) {
        background: #23CE6B;
    }

    .seventh-main:nth-child(5) {
        background: #6184D8;
    }

    .seventh-icon {
        width: 32px;
        height: 28px;
    }

    .seventh-icon-inside {
        width: 100%;
    }

    .seventh-p {
        width: 100%;
        height: 57px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 19.6px;
        font-family: 'Roboto', medium, sans-serif;
        margin: 15px 0px 36px;

    }

    .seventh-img {
        width: 175px;
        height: 175px;
    }

    .seventh-h {
        font-family: 'Roboto', bold, sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 49px;
        color: #ffffff;
        margin-top: 18px;
    }

    .seventh-h-last {
        font-family: 'Roboto', normal, sans-serif;
        font-size: 16px;
        color: #ffffff;

    }




    @media (min-width: 1919px) {
        #sucess-stories {
            background-image: url('/assets/images/sucess-stories.png');
            opacity: 1;
            background-size: cover;
            flex-direction: column;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 18px;
            padding: 45px 20px;
        }

        .sucess-stories-h {
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            color: #ffffff;
            font-size: 50px;
            line-height: 49px;
        }

        .sucess-stories-p {
            font-family: 'Roboto', medium, sans-serif;
            font-size: 24px;
            line-height: 49px;
            color: #ffffff;
        }

        #seventh-cta {
            display: flex;
            align-items: stretch;
            flex-direction: row;

        }

        .seventh-main {
            width: 100%;
            display: flex;
            box-shadow: 0px 6px 8px #00000026;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 68px 40px 58px;
        }

        .seventh-main:nth-child(1) {
            background: #23CE6B;
        }

        .seventh-main:nth-child(2) {
            background: #08083D;
        }

        .seventh-main:nth-child(3) {
            background: #6184D8;
        }

        .seventh-main:nth-child(4) {
            background: #23CE6B;
        }

        .seventh-main:nth-child(5) {
            background: #6184D8;
        }

        .seventh-icon {
            width: 65px;
            height: 56px;
        }

        .seventh-icon-inside {
            width: 100%;
        }

        .seventh-p {
            width: 300px;
            height: 99px;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 24px;
            font-family: 'Roboto', medium, sans-serif;
            margin: 45px 0px 17px;

        }

        .seventh-img {
            width: 175px;
            height: 175px;
        }

        .seventh-h {
            font-family: 'Roboto', bold, sans-serif;
            font-weight: bold;
            font-size: 27px;
            line-height: 49px;
            color: #ffffff;
            margin-top: 25px;
        }

        .seventh-h-last {
            font-family: 'Roboto', normal, sans-serif;
            font-size: 21px;
            line-height: 49px;
            color: #ffffff;

        }





    }
</style>

<section id="sucess-stories">
    <h1 class="sucess-stories-h">
        Success Stories
    </h1>
    <p class="sucess-stories-p">Ez-Franchise Client Testimonials</p>
</section>

<section id="seventh-cta">
    <div class="seventh-main">
        <div class="seventh-icon">
            <img class="seventh-icon-inside" src="assets/icons/quote.svg" alt="">
        </div>
        <p class="seventh-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua Integer enim.
        </p>
        <div class="seventh-img">
            <img src="assets/images/seventh-1.png" alt="">
        </div>
        <h1 class="seventh-h">
            Lorem Ipsum
        </h1>
        <h2 class="seventh-h-last">
            Lorem ipsum dolor sit
        </h2>
    </div>
    <div class="seventh-main">
        <div class="seventh-icon">
            <img class="seventh-icon-inside" src="assets/icons/quote.svg" alt="">
        </div>
        <p class="seventh-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        </p>
        <div class="seventh-img">
            <img src="assets/images/seventh-2.png" alt="">
        </div>
        <h1 class="seventh-h">
            Lorem Ipsum
        </h1>
        <h2 class="seventh-h-last">
            Lorem ipsum dolor sit
        </h2>
    </div>
    <div class="seventh-main">
        <div class="seventh-icon">
            <img class="seventh-icon-inside" src="assets/icons/quote.svg" alt="">
        </div>
        <p class="seventh-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
        <div class="seventh-img">
            <img src="assets/images/seventh-3.png" alt="">
        </div>
        <h1 class="seventh-h">
            Lorem Ipsum
        </h1>
        <h2 class="seventh-h-last">
            Lorem ipsum dolor sit
        </h2>
    </div>
    <div class="seventh-main">
        <div class="seventh-icon">
            <img class="seventh-icon-inside" src="assets/icons/quote.svg" alt="">
        </div>
        <p class="seventh-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
        <div class="seventh-img">
            <img src="assets/images/seventh-4.png" alt="">
        </div>
        <h1 class="seventh-h">
            Lorem Ipsum
        </h1>
        <h2 class="seventh-h-last">
            Lorem ipsum dolor sit
        </h2>
    </div>
    <div class="seventh-main">
        <div class="seventh-icon">
            <img class="seventh-icon-inside" src="assets/icons/quote.svg" alt="">
        </div>
        <p class="seventh-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore!
        </p>
        <div class="seventh-img">
            <img src="assets/images/seventh-5.png" alt="">
        </div>
        <h1 class="seventh-h">
            Lorem Ipsum
        </h1>
        <h2 class="seventh-h-last">
            Lorem ipsum dolor sit
        </h2>
    </div>
</section>