<style>
    #eigth-cta {
        background: transparent linear-gradient(139deg, rgba(97, 132, 216, 1) 0%, rgba(8, 8, 61, 1) 100%) 0% 0% no-repeat padding-box;
        opacity: 0.9;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .eigth-cta-h {
        font-family: 'Gilroy', bolder, sans-serif;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        padding: 0px 50px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
    }

    .eigth-cta-img {
        width: 190px;
    }

    .eigth-cta-img-inside {
        width: 100%;
    }

    .eigth-cta-p {
        max-width: 932px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        text-align: left;
        font-size: 16px;
        line-height: 22.4px;
        margin-top: 30px;
        color: #ffffff;
    }

    .eighth-cta-button {
        padding: 10px 29px;
        margin-top: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background: #23CE6B;
        box-shadow: 0px 8px 8px #23CE6B80;
        border-radius: 100px;
    }

    .eighth-cta-button:hover {
        box-shadow: 0px 12px 12px #23CE6B80;
    }

    .eighth-cta-button .text {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 1;
        font-size: 18px;
        margin: 0px;
    }

    .eighth-cta-btn-icon img {
        width: 15px;
        height: 16px;
    }


    @media (min-width: 1536px) {

        #eigth-cta {
            background: transparent linear-gradient(139deg, rgba(97, 132, 216, 1) 0%, rgba(8, 8, 61, 1) 100%) 0% 0% no-repeat padding-box;
            opacity: 0.9;
            padding: 70px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .eigth-cta-h {
            font-family: 'Gilroy', bolder, sans-serif;
            font-weight: 800;
            padding: 0px;
            font-size: 50px;
            line-height: 49px;
            color: #ffffff;
            text-align: center;
            margin-bottom: 30px;
        }

        .eigth-cta-img {
            width: 320px;
        }

        .eigth-cta-img-inside {
            width: 100%;
        }

        .eigth-cta-p {
            max-width: 932px;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            text-align: center;
            font-size: 21px;
            line-height: 30px;
            margin-top: 30px;
            color: #ffffff;
        }

        .eighth-cta-button {
            padding: 24px 50px;
            margin-top: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background: #23CE6B;
            box-shadow: 0px 8px 8px #23CE6B80;
            border-radius: 100px;
        }

        .eighth-cta-btn-icon img {
            width: 26px;
        }

        .eighth-cta-button:hover {
            box-shadow: 0px 12px 12px #23CE6B80;
        }

        .eighth-cta-button .text {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 1;
            font-size: 24px;
            margin: 0px;
        }
    }
</style>


<section id="eigth-cta">
    <h1 class="eigth-cta-h">
        Lorem Ipsum Dolor Sit Amet
    </h1>
    <div class="eigth-cta-img">
        <img class="eigth-cta-img-inside" src="assets/images/gurrantte.png" alt="">
    </div>
    <p class="eigth-cta-p">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam
        malesuada erat ut turpis Suspendisse urna nibh. <br> <br> Donec nec justo eget felis facilisis fermentum.
        Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.<br> <br> <b>Morbi in sem quis dui
            placerat ornare pellentesque</b>
    </p>

    <button class="eighth-cta-button">
        <span class="text">Schedule a call today!</span>
    </button>
</section>